.portfolioValue-component
{
    width: 250px;
    height: 55px;
    background-color: #32d20a;

    

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
    transition: 0.1s;
}

.portfolioValue-component:hover
{
    transform: scale(1.10);
    cursor: pointer;
}

/* for when the delta percent for the daily balance is negative */
.negative
{
    background-color: red;
}

.portfolioValue-component-values
{
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

