.tickers-component
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 325px;
    height: 55px;

}

.tickers-index
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.tickers-index-name
{

    grid-column: 2;
    grid-row: 1;
}

.tickers-index-price
{
    grid-column: 2;
    grid-row: 2;
}

.tickers-index-delta
{
    grid-column: 2;
    grid-row: 3;
}

.tickers-index-deltaArrow
{
    
    grid-column: 1;
    grid-row: 2/5;
}
